[KSplash Theme: sidux-hypnos]
Name = sidux 2010-01 (Moros) Splash Screen
Description = sidux Moros Splash Screen
Version = 1.0
Author = David Creedy <klaymen@sidux.com>
Homepage = http://www.sidux.com
# Theme behaviour settings.
Engine = KSplashX
